form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    margin-top: 10px;
}

small {
    color: red;
}

small:last-of-type {
    color: green;
}

.toast-container {
    margin-top: 20px;
    min-width: 250px;
}

.toast-header {
    border: 2px solid #272727;
}